/*Ubuntu normal ont*/
@font-face {
    font-family: arial-pixels;
    src: url(pixearg.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: arial-pixels;
    src: url(pixeab.ttf);
    font-weight: bold;
    font-style: normal;
}